.form{
    width: 20vw;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__inputbox{
        width: 100%;
        border-bottom:solid $black 1px;
        box-shadow: none;
        outline: 0;
        :focus {
            box-shadow: none;
            outline: 0;
        }
    }
    &__submit{
        border: solid $black 1px;
        border-radius: 2rem;
        padding: 10px 10px;
        text-align: center;
    }
}