//Halyard Display
@mixin halyard_extralight {
    font-family: halyard-display, sans-serif;
    font-weight: 100;
    font-style: normal;
}
@mixin halyard_book {
    font-family: halyard-display, sans-serif;
    font-weight: 300;
    font-style: normal;
}
@mixin halyard_reguler {
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin halyard_bold {
    font-family: halyard-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

//Mrs Eaves
@mixin eaves_roman {
    font-family: mrs-eaves, serif;
    font-weight: 400;
    font-style: normal;
}
@mixin eaves_bold {
    font-family: mrs-eaves, serif;
    font-weight: 700;
    font-style: normal;
}

//源ノ角ゴシック
@mixin japanesesans_extralight {
    font-family: source-han-sans-japanese, sans-serif;
font-weight: 200;
font-style: normal;
}
@mixin japanesesans_light {
    font-family: source-han-sans-japanese, sans-serif;
font-weight: 300;
font-style: normal;
}
@mixin japanesesans_reguler {
    font-family: source-han-sans-japanese, sans-serif;
font-weight: 400;
font-style: normal;
}
@mixin japanesesans_bold {
    font-family: source-han-sans-japanese, sans-serif;
font-weight: 700;
font-style: normal;
}

//游明朝
@mixin mincho_reguler {
    font-family: yu-mincho-pr6n, sans-serif;
font-weight: 400;
font-style: normal;
}
@mixin mincho_bold {
    font-family: yu-mincho-pr6n, sans-serif;
font-weight: 600;
font-style: normal;
}