.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    border-bottom:solid #000 1px;
    &__logo {
        width: 100px;
    }
    &__nav {
        display: flex;
        @include font.halyard_book;
    }
    &__icon{
        width: 20px;
        height: 20px;
    }
}