.gnav{
    @include halyard_reguler;
    letter-spacing: 0.13rem;
    height: 48px;
    width: 100%;
    background-color: $black;
    &__list{
        height: 100%;
        width: 50%;
        display: flex;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        color: $white;
        font-size: 12px;
        &-icon{
            width: 22px;
            height: 22px;
        }
    }
}